html, body{
	background-color:#474747;
	width:100%;
	height:100%;
}

.container{
	width:100%;
	height:100%;
	position:relative;
}

.tableproperties{
	position:absolute;
	width:100%;
	top:50%;
	transform: translateY(-50%);
}

td{
	text-align:right;
	width:50%;
}

img{
	width:50%;
	padding-right:30px;
}

.text{
	font-family: 'Quicksand', sans-serif;
	font-size:30px;
	color:#f0eded;
	text-align:left;
}